@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model Library.Models.Patron;

<h3>Patron info:</h3>
<hr />
<h4>Name: @Model.Name</h4>
<hr />
<h4>Checkout books:</h4>
<hr />
@if(@Model.Checkouts.Count == 0)
{
  <h3>No books checked out.</h3>
}
else
{
  @foreach(var join in Model.Checkouts)
  {
    <p>@Html.ActionLink(@join.Book.Title, "Details", "Books", new {id = join.BookId})</p>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("CheckInBook", "Patrons"))
      {
        @Html.Hidden("joinId", @join.CheckoutId)
        <input type="submit" value="Check In" class="btn btn-warning"/>
      }
    }   
  }
}

@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
  <p>@Html.ActionLink("Edit patron", "Edit", new { id = Model.PatronId })</p>
  <p>@Html.ActionLink("Delete patron", "Delete", new { id = Model.PatronId })</p>
  <p>@Html.ActionLink("Checkout book", "CheckOutBook", new { id = Model.PatronId })</p>
}
<p>@Html.ActionLink("Back to Patron List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

