@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<p>Find author:</p>
@using (Html.BeginForm("AddAuthor", "Books", FormMethod.Get, new { id = @Model.BookId}))
{ 
  <p>@Html.TextBox("searchAuthor")</p>
  <button class="btn" type="submit">Search</button>
}
@if(ViewBag.AuthorList != null) //Does it exist?
{
  if(ViewBag.AuthorList.Count != 0) //Is there anything in it?
  {
    <h3>Add authors to a book:</h3>
    <hr />
    <p class="info">@Html.DisplayFor(model => model.Title)</p>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.BookId)
      <div class="form-group"> 
        @Html.Label("Select authors:")
        <br>
        @foreach (Author author in ViewBag.AuthorList)
        {
          @Html.Label(author.Name)
          @Html.CheckBox("AuthorList", false, new { value = author.AuthorId, @class="checkbox"})
        }
      </div>
      <input type="submit" value="Add authors" class="btn" />
    }
  }
  else
  {
    <p>No authors have been found.</p>
  }
}

<p>@Html.ActionLink("Back to Book List", "Index")</p>



