

@using Library.Models
@model Library.Models.Book


<h3>Add new book:</h3>
<hr />
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title, new {@class = "form-control", @required  = "required"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Copies)
    @Html.TextBoxFor(model => model.Copies, new {@class = "form-control", @required  = "required"})
  </div>

  @if (ViewBag.AuthorId.Count != 0)
  {
    <p>Find author:</p>
    @using (Html.BeginForm("Create", "Books", FormMethod.Get))
    {
      <p>@Html.TextBox("searchAuthor")</p>
      <button class="btn" type="submit">Search</button>
    }
    if(ViewBag.FoundAuthors.Count != 0)
    {
      <div class="form-group"> 
        @Html.Label("Select authors:")
        <br>
        @foreach (Author author in ViewBag.FoundAuthors)
        {
          @Html.Label(author.Name)
          @Html.CheckBox("AuthorId", false, new { value = author.AuthorId, @class="checkbox"})
        }
      </div>
    }
  }
  <input type="submit" value="Add new author" class="btn" />
}