@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h3>Add new book:</h3>
<hr />
<p>Find author:</p>
@using (Html.BeginForm("Create", "Books", FormMethod.Get))
{
  <p>@Html.TextBox("searchAuthor")</p>
  <button class="btn" type="submit">Search</button>
}
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title, new {@class = "form-control", @required  = "required"})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.Copies)
    @Html.TextBoxFor(model => model.Copies, new {@class = "form-control", @required  = "required"})
  </div>
  if(ViewBag.AuthorId != null) //Does it exist?
  {
    if(ViewBag.AuthorId.Count != 0) //Is there anything in it?
    {
      <div class="form-group"> 
<<<<<<< HEAD
        @Html.Label("Select authors:")
        <br>
        @foreach (Author author in ViewBag.AuthorId)
        {
          @Html.Label(author.Name)
          @Html.CheckBox("AuthorId", false, new { value = author.AuthorId, @class="checkbox"})
        }
=======
      @Html.Label("Select authors:")
      <br>
      @foreach (Author author in ViewBag.AuthorId)
      {
        @Html.Label(author.Name)
        @Html.CheckBox("AuthorId", false, new { value = author.AuthorId, @class="checkbox"})
      }
>>>>>>> 9dda2668a2f0b3edaebcfb164c10d5ac2fc79294
      </div>
    }
    else
    {
      <p>No authors have been found.</p>
    }
  } 
  <input type="submit" value="Add new book" class="btn" />
<<<<<<< HEAD
}

<p>@Html.ActionLink("Back to Book List", "Index")</p>
=======
}
>>>>>>> 9dda2668a2f0b3edaebcfb164c10d5ac2fc79294
